1_german_election_results_2021
2_timeline/output
2_timeline/roman_emperors.pdf
2_timeline/roman_emperors_orig.Rmd
3_plastic_3_way_bar_map_bar
4_nuclear_tests
Poppins-Regular.ttf
data
test.R
tidy_grey.R
16_ancient_earth/Scotese_PaleoAtlas_v3
16_ancient_earth/example.R
UoA-CS760-master.zip
reference
test_space
.venv311_v1/
15_christie_scrapper
13_midi
12_statement_analysis
9_river
6_multi_year_change/indiaz10_topo_map.png
6_multi_year_change/selection.png
6_multi_year_change/selection_tmap.html
5_school
16_ancient_earth/image
16_ancient_earth/data