1_german_election_results_2021
2_timeline/output
2_timeline/roman_emperors.pdf
2_timeline/roman_emperors_orig.Rmd
3_plastic_3_way_bar_map_bar
4_nuclear_tests
Poppins-Regular.ttf
data
test.R
tidy_grey.R